$white: #fff;
$black: #000;
$gray: #717fa6;
$purple: #766cf1;
$blue-950: #1f2e55;
$blue-700: #382ae1;
$blue-150: #d6e1ff;
$blue-100: #e0e8ff;
$blue-50: #f7f9ff;
$main-card-shadow: 0 40px 40px -20px rgba(13, 48, 189, 0.15);
$btn-shadow: 0 20px 20px 0 rgba(56, 42, 225, 0.19);
